span.ant-avatar.ant-avatar-square.ant-avatar-image {
  width: 90% !important;
  height: auto !important;
}
.movie-detail-image-wrapper {
  text-align: center;
}
.container {
  max-width: 95%;
  margin: auto;
  margin-top: 2%;
}
.ant-layout-header {
  background: #1890ff !important;
  height: 66px !important;
}
.ant-menu-horizontal {
  border-bottom: unset !important;
  float: right;
}
.ant-menu-horizontal li a {
  color: #fff !important;
}
.logo {
  width: 120px;
  height: 100%;
  float: left;
}
.logo a, .logo a:hover {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}