span.ant-avatar.ant-avatar-square.ant-avatar-image {
  width: 90% !important;
  height: auto !important;
}
.movie-detail-image-wrapper {
  text-align: center;
}
.container {
  max-width: 95%;
  margin: auto;
  margin-top: 2%;
}
.ant-layout-header {
  background: #b61619 !important;
  height: 66px !important;
}
.ant-menu {
  background: #b61619 !important;
}
.ant-menu-horizontal {
  border-bottom: unset !important;
  float: right;
}
.ant-menu-horizontal li a {
  color: #fff !important;
}
.logo {
  width: 120px;
  height: 100%;
  float: left;
}
.logo a, .logo a:hover {
  color: #fff !important;
  font-weight: 500;
  font-size: 22px;
}
.ant-input:focus, .ant-input:hover {
  border-color: #b61619 !important;
}
.ant-list-item-meta-title > a, a, .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab:hover {
  color: #b61619 !important;
}
.ant-list-item-meta-title > a:hover, a:hover {
  color: #494949 !important;
}
.ant-tabs-ink-bar {
  background-color: #b61619 !important;
}
.ant-btn:hover, .ant-btn:focus {
  color: #b61619 !important;
  border-color: #b61619 !important;
}
.ant-badge-status-text {
  color: #494949 !important;
}
.search-filters {
  margin-bottom: 1rem;
}
.ant-select-selection:hover {
  border-color: #b61619 !important;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
  border-color: #b61619 !important;
  -webkit-box-shadow: 0 0 0 1px #d8d8d8 !important;
  box-shadow: 0 0 0 1px #d8d8d8 !important;
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled), .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled)  {
  background-color: #fdeded !important;
}
.magnet-link img {
  height:14px;
  height: 13px;
  margin-bottom: 2px;
}
.ant-list-split .ant-list-item {
  margin-bottom: 8px;
  padding: 10px 8px 8px;
}

.ant-card-meta-title {
  color: #b61619 !important;
  cursor: pointer;
}

.card-icon:hover svg {
  fill: #b61619 !important;
}

.results-loading {
  width: 100%;
}

.ant-pagination-item-active, .ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: #B61619 !important;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #B61619 !important;
}

.search-keyword input {
  box-shadow: unset !important;
}

.ant-card-meta-title {
  word-break: break-all !important;
  overflow: hidden !important;
  white-space: unset !important;
  height: 49px;
}

.ant-card-meta-description {
  height: 147px !important;
}